<div class="wrapper-banner wrapper-banner-user">

    <section class="banner banner-user">
        <div class="message message-block message-notice">
            <h2 class="message-title hd-5 emphasized">${accomplishment_copy_name}, you've earned a certificate!</h2>

            <div class="wrapper-copy-and-actions">
                <p class="message-copy copy copy-base emphasized">Congratulations! This page summarizes all of the details of what you've accomplished. Show it off to family, friends, and colleagues in your social and professional networks.</p>

                <div class="message-actions">
                        <p class="sr-only">Share on:</p>
                        <a href="" class="action action-share-linkedin btn btn-overlay btn-base">
                        <i class="icon fa fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                        <a href="" class="action action-share-twitter btn btn-overlay btn-base">
                            <i class="icon fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="" class="action action-share-fb btn btn-overlay btn-base">
                            <i class="icon fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>

                        <p class="sr-only">Take this with you:</p>
                        <a href="" class="action action-print btn btn-overlay btn-base">
                            <i class="icon fa fa-print" aria-hidden="true"></i>
                            <span class="sr-only">Print Certificate</span>
                        </a>
                </div>
            </div>
        </div>
    </section>

</div>
